.anker {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.navbar {
  background-color: transparent;
  position: absolute;

}
